<template>
  <div class="flipCard-container">
    <div class="flipCard" v-bind:class="{ flip: this.isFlipped }">
      <div class="flipCardFront" v-if="this.questions[questionFront]">
        <b-card class="questionCard">
          <div class="questionCardTitle">
            <h3>{{ this.questions[questionFront].question }}</h3>
          </div>

          <b-card-text class="questionCardText mb-0 h-50">
            <b-form-group v-slot="{ ariaDescribedby }">
              <b-form-radio-group
                id="radio-group-1"
                v-model="selectedFront"
                :options="answers[questionFront]"
                :aria-describedby="ariaDescribedby"
                name="radio-inline"
                stacked
                @change="handleRadioChange($event)"
              ></b-form-radio-group>
            </b-form-group>
          </b-card-text>
        </b-card>
      </div>
      <div class="flipCardBack" v-if="this.questions[questionBack]">
        <b-card class="questionCard">
          <div class="questionCardTitle">
            <h3>{{ this.questions[questionBack].question }}</h3>
          </div>
          <b-card-text class="questionCardText">
            <b-form-group v-slot="{ ariaDescribedby }">
              <b-form-radio-group
                id="radio-group-2"
                v-model="selectedBack"
                :options="answers[questionBack]"
                :aria-describedby="ariaDescribedby"
                name="radio-inline"
                stacked
                @change="handleRadioChange($event)"
              ></b-form-radio-group>
            </b-form-group>
          </b-card-text>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import superMegaAdvancedHtmlEntityDecoder from "../../js/superMegaAdvancedHtmlDecoderHacks";
import getImage from "../../api/images.js";
export default {
  name: "TriviaCard",
  props: {
    trivia: {
      type: Array
    },
    flipped: {
      type: Boolean
    }
  },
  watch: {
    flipped: function(flipped) {
      this.lockInAnswer();
      this.selectedFront = null;
      this.hasValue = false;
      this.selectedBack = null;
    }
  },
  data() {
    return {
      selectedFront: [""],
      selectedBack: [""],
      isFlipped: false,
      questionFront: 0,
      questionBack: 1,
      questionIndex: 0,
      currentCardSide: true,
      questions: [],
      answers: [],
      answered: [],
      imageUrls: [],
      hasValue: false,
      url: ""
    };
  },
  created() {
    this.questions = this.$props.trivia;
    this.questions.forEach((q, index) => {
      this.addImagesToResultCards(q.correct_answer, index);
    });
    this.populateAnswers();
    this.handleQuestionSelected();
  },
  methods: {
    async addImagesToResultCards(answer, index) {
      try {
        const result = await getImage(answer);
        this.url = result.results[0].media[0].gif.url;
        this.imageUrls[index] = this.url;
      } catch (e) {
        this.imageUrls[index] =
          "https://media.tenor.com/images/a131ad36f4ceeb73b3de22e6ed299616/tenor.gif";
        console.log(e.message);
      }
    },
    handleRadioChange() {
      this.hasValue = true;
      this.$emit("radio-selected", this.hasValue);
    },
    handleQuestionSelected() {
      this.$emit("question-selected", this.questionIndex);
    },
    populateAnswers() {
      this.questions.forEach(element => {
        element.question = superMegaAdvancedHtmlEntityDecoder(element.question);
        let answer = [];
        answer.push({
          text: superMegaAdvancedHtmlEntityDecoder(element.correct_answer),
          value: element.correct_answer
        });
        element.incorrect_answers.forEach(el => {
          answer.push({
            text: superMegaAdvancedHtmlEntityDecoder(el),
            value: el
          });
        });
        //Shuffle array
        answer = answer
          .map(a => ({ sort: Math.random(), value: a }))
          .sort((a, b) => a.sort - b.sort)
          .map(a => a.value);
        this.answers.push(answer);
      });
    },
    sleep(time) {
      return new Promise(resolve => setTimeout(resolve, time));
    },
    lockInAnswer() {
      this.questionIndex++;
      //Check which value to push to answered
      this.currentCardSide
        ? this.answered.push(
            superMegaAdvancedHtmlEntityDecoder(this.selectedFront)
          )
        : this.answered.push(
            superMegaAdvancedHtmlEntityDecoder(this.selectedBack)
          );

      if (this.questionIndex == this.questions.length) {
        this.handleQuestionSelected();
        this.sleep(1000).then(() => {
          this.showResultScreen();
        });
        return;
      }
      this.isFlipped = !this.isFlipped;
      this.currentCardSide = !this.currentCardSide;
      this.sleep(500).then(() => {
        !this.currentCardSide
          ? (this.questionFront = this.questionBack + 1)
          : (this.questionBack = this.questionFront + 1);
      });
      this.handleQuestionSelected();
    },
    showResultScreen() {
      this.goToResults();
    },
    goToResults() {
      const results = [this.questions, this.answered, this.imageUrls];
      this.$router.push({ name: "Result", params: { results } });
    }
  }
};
</script>

<style>
.questionCard {
  height: 30vh;
  width: 60vh;
  margin: auto;
  font-size: 1.3rem;
  border-radius: 10px;
}

@media only screen and (max-width: 575.98px) {
  .questionCard {
    height: 50vh;
    width: 100vh;
    max-width: 90vw;
    margin: auto;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .questionCard {
    height: 50vh;
    width: 90vh;
    max-width: 80vw;
    margin: auto;
  }
}

.questionCardTitle h3 {
  font-size: 2rem;
  height: 40%;
}
.card-body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.questionCardText {
  width: 100%;
  height: 60%;
  margin: 0 10%;
  text-align: left;
}

.flipCard-container {
  perspective: 50%;
}

.flipCard-container,
.flipCard {
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.flipCard div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.flipCard {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.flipCardFront {
  grid-area: frontAndBack;
}
.flipCardBack {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

.flip {
  transform: rotateY(180deg);
}
</style>
