<template>
  <div class="counter">
    <h2>{{ this.questionNumber + 1 }} / {{ this.max }}</h2>
    <b-progress
      :value="progressbarValue"
      class="w-50 mx-auto mb-3"
      :max="max"
      height="2rem"
      animated
    ></b-progress>
  </div>
</template>

<script>
export default {
  name: "TriviaQuestionCounter",
  data() {
    return {
      progressbarValue: null,
      questionNumber: null,
      max: null
    };
  },
  props: {
    nQuestions: {
      type: Number,
      required: true
    },
    currentQuestion: {
      type: Number,
      required: true
    }
  },
  watch: {
    currentQuestion: function(currentQuestion) {
      this.progressbarValue = currentQuestion;
      if (currentQuestion < this.max) this.questionNumber++;
    }
  },
  created() {
    this.max = this.$props.nQuestions;
    this.progressbarValue, (this.questionNumber = this.$props.currentQuestion);
  }
};
</script>

<style></style>
