<template>
  <div class="container trivia">
    <div class="row">
      <div class="col">
        <img
          class="tpLogo"
          src="../../assets/tpLogo.png"
          alt="Trivial Purrsweet brand"
        />
        <TriviaQuestionCounter
          v-if="currentQuestion != null"
          :nQuestions="nQuestions"
          :currentQuestion="currentQuestion"
        />
        <TriviaCard
          :trivia="trivia"
          :flipped="flipped"
          @radio-selected="handleRadioSelected"
          @question-selected="handleCurrentQuestion"
        />
        <div>
          <b-button
            class="btnNext mt-2"
            @click="handleBtnNextClicked"
            v-if="isSelected"
            >Next</b-button
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TriviaCard from "./TriviaCard";
import TriviaQuestionCounter from "./TriviaQuestionCounter";
export default {
  name: "Trivia",
  components: {
    TriviaCard,
    TriviaQuestionCounter
  },
  props: {
    triviaGame: {
      type: Array
    }
  },
  data() {
    return {
      trivia: [],
      flipped: false,
      isSelected: false,
      nQuestions: 0,
      currentQuestion: null
    };
  },
  methods: {
    handleBtnNextClicked() {
      this.flipped = !this.flipped;
      this.isSelected = !this.isSelected;
    },
    handleRadioSelected(value) {
      this.isSelected = value;
    },
    handleCurrentQuestion(questionIndex) {
      this.currentQuestion = questionIndex;
    }
  },
  created() {
    this.trivia = this.$props.triviaGame;
    this.nQuestions = this.trivia.length;
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.trivia {
  height: 100%;
}
.tpLogo {
  width: 40%;
}
.btnNext {
  width: 20%;
  background-color: white;
  outline-color: #707070;
  color: #707070;
}
</style>
