<template>
  <div class="container home">
    <div class="row">
      <div class="col">
        <img
          class="Brand"
          src="../assets/tpBrand2.png"
          alt="Trivial Purrsweet brand"
        />
        <div v-if="categories">
          <b-form-select
            v-model="selectedAmount"
            class="selectsHome"
            value-field="id"
            text-field="name"
            :options="amount"
          >
            <template #first>
              <b-form-select-option value="null" disabled>
                ---- Select amount of questions ----
              </b-form-select-option>
            </template>
          </b-form-select>
          <b-form-select
            v-model="selectedCategory"
            :options="categories"
            class="selectsHome"
            value-field="id"
            text-field="name"
          >
            <template #first>
              <b-form-select-option value="null" disabled>
                ---- Select category ----
              </b-form-select-option>
            </template>
          </b-form-select>
          <b-form-select
            v-model="selectedDifficulty"
            :options="difficulties"
            class="selectsHome"
          >
            <template #first>
              <b-form-select-option value="null" disabled
                >---- Select difficulty ----
              </b-form-select-option>
            </template>
          </b-form-select>
          <div v-if="selectedCategory && selectedDifficulty && selectedAmount">
            <b-button @click="startGame" class="btnStart mt-2">Start</b-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import fetchCategories from "../api/categories.js";
import getTrivia from "../api/trivia";
export default {
  name: "Home",
  data() {
    return {
      selectedCategory: null,
      selectedDifficulty: null,
      selectedAmount: null,
      categories: null,
      difficulties: [
        { value: "easy", text: "Easy" },
        { value: "medium", text: "Medium" },
        { value: "hard", text: "Hard" }
      ],
      amount: [10, 15, 20, 25, 30, 35, 40, 45, 50],
      createdTrivia: []
    };
  },
  methods: {
    async getCategories() {
      try {
        const result = await fetchCategories();
        this.categories = result.trivia_categories;
      } catch (e) {
        console.log(e.message);
      }
    },
    async startGame() {
      console.log("Game started");
      try {
        const result = await getTrivia(
          this.selectedCategory,
          this.selectedDifficulty,
          this.selectedAmount
        );
        this.createdTrivia = result.results;
        this.goTogame();
      } catch (e) {
        console.log(e.message);
      }
    },

    goTogame() {
      let triviaGame = this.createdTrivia;
      this.$router.push({ name: "Trivia", params: { triviaGame } });
    }
  },
  created() {
    this.getCategories();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
html {
  font-family: "Ubuntu", sans-serif;
}
.home {
  height: 100%;
  margin-top: 15%;
}
.btnStart {
  width: 20%;
  background-color: white;
  outline-color: #707070;
  color: #707070;
}
.selectsHome {
  background-color: white;
  outline-color: #707070;
  color: #707070;
  margin: 1%;
  width: 50%;
}
.Brand {
  width: 60%;
}

@media only screen and (max-width: 575.98px) {
  .selectsHome {
    background-color: white;
    outline-color: #707070;
    color: #707070;
    margin-top: 10%;
    width: 80%;
    font-size: 0.8rem;
    text-align: center;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .questionCard {
    height: 50vh;
    width: 90vh;
    max-width: 80vw;
    margin: auto;
  }
}
</style>
