<template>
  <div>
    <h1 :totalPoints="totalPoints">You scored {{ totalPoints }} points</h1>
    <div>
      <b-button class="btnNext mt-2" @click="handleResetClick"
        >Reset game</b-button
      >
    </div>
    <div class="row resultContainer justify-content-center">
      <ResultCard
        v-for="(question, index) in questionsNanswers"
        v-bind:key="index"
        :question="question"
        class="m-2"
      />
    </div>
  </div>
</template>

<script>
import ResultCard from "./ResultCard";

export default {
  name: "Result",
  components: {
    ResultCard
  },
  props: {
    results: {
      type: Array
    },
    category: {
      type: String
    }
  },
  data() {
    return {
      questionsNanswers: [],
      cardImage: "",
      totalPoints: 0
    };
  },
  created() {
    this.$props.results[0].forEach((result, index) => {
      const answer = [
        result.question,
        result.correct_answer,
        this.$props.results[1][index],
        this.$props.results[2][index]
      ];
      this.questionsNanswers.push(answer);
    });

    this.calculatePoints();
  },
  methods: {
    handleResetClick() {
      this.goToHome();
    },
    calculatePoints() {
      this.questionsNanswers.forEach(q => {
        const correctAnswer = q[1];
        const yourAnswer = q[2];
        if (correctAnswer === yourAnswer) this.totalPoints += 10;
      });
    },
    goToHome() {
      this.$router.push({ name: "Home" });
    }
  }
};
</script>

<style>
.resultContainer {
  /*display: grid; */
  width: 80%;
  height: 100%;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 5%;
  display: flex;
}
</style>
