<template>
  <div class="col d-flex pb-3" v-if="questionTitle">
    <b-card
      :title="questionTitle"
      img-src=""
      img-alt="Image"
      img-top
      tag="article"
      style="width: 20rem"
      class="mb-2"
    >
      <b-card-img
        :src="image"
        alt=""
        class="cardImage"
        style="height: 10rem"
        v-if="image"
      ></b-card-img>
      <b-card-text>
        <p>Correct answer: {{ correctAnswer }}</p>
        <p>Your answer: {{ yourAnswer }}</p>
      </b-card-text>
    </b-card>
  </div>
</template>

<script>
import superMegaAdvancedHtmlEntityDecoder from "../../js/superMegaAdvancedHtmlDecoderHacks";

export default {
  name: "ResultCard",
  props: {
    question: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      questionTitle: null,
      correctAnswer: null,
      yourAnswer: null,
      image: null,
      questions: []
    };
  },
  created() {
    this.questions = this.$props.question;

    this.questionTitle = superMegaAdvancedHtmlEntityDecoder(
      this.$props.question[0]
    );
    this.correctAnswer = superMegaAdvancedHtmlEntityDecoder(
      this.$props.question[1]
    );
    this.yourAnswer = superMegaAdvancedHtmlEntityDecoder(
      this.$props.question[2]
    );
    this.image = this.$props.question[3];
  },
  methods: {}
};
</script>

<style>
.cardImage {
  width: 80%;
}
</style>
